block variables

<!DOCTYPE html>
html
  head
    title=activePage
    include ../includes/_head.pug
    block head
  body
    include ../includes/_nav.pug
    block content



    include ../includes/_scripts.pug
    block scripts
